<!--Footer-->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark-indigo">
        <div class="container-fluid">
            <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved.</h6>
            <!--Adding different socials links at the bottom right using ml-auto-->
            <div class="ml-auto">  <!--margining left auto-->
                <a href="https://github.com/ethar615/" target="_blank" class="text-light mr-2" title="github">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank" class="text-light mr-2" title="Twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="text-light mr-2" title="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/bba8a3323/" target="_blank" class="text-light" title="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </div>
    </nav>
</footer>
